[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GGUM"]
	path = GGUM
	url = https://github.com/jorgetendeiro/ggum
[submodule "PerFit"]
	path = PerFit
	url = https://github.com/jorgetendeiro/perfit
